
  <!-- Mission Statement -->
  <section id="mission" class="mission-section" data-scroll-section>
    <div class="container">
      <h2 class="section-title" data-scroll data-scroll-speed="1">Our Hypothesis</h2>
      <div class="mission-content" data-scroll data-scroll-speed="0.5">
        <p>The digital landscape of Pakistan, a developing country, has three major issues:
          <ul>
            <li>It majorly relies on softwares and technology produced by developed Countries</li>
            <li>It needs to adopt practices and technologies marketed by developed countries without being able to analyze its pros and cons for our society, and deviance from Islamic Values</li>
            <li>Our adoption and reliance on these technogies is constantly increasing, which can potentially risk freedom and self-sustainability of our future generations</li>
          </ul>
        </p>
        <p>To solve these problems, we plan to take following three major steps:
          <ul>
            <li>Create digital awarness in our youth in such a way that they become real contributors to society in earlier age.</li>
            <li>Produce open-source technologies through collaboration of industrialists, educationists, technologiests, and learners for enabling localized digital innovation</li>
            <li>Critically analyze different technologies through thorough studies and experiments so that we can identify it's impacts, potential risks and deviation of islamic values</li>
          </ul>
        </p>
      </div>
    </div>
  </section>