<!-- Hero Section -->
<section id="hero" class="hero-section" data-scroll-section>
  <div class="container hero-sub-sec">
    <div class="hero-content">
      <h1 class="animate-in">Welcome to <span>Questra Digital</span></h1>
      <p class="animate-in">Building a community for digital innovators to tranform local digitization through open-source, collaborative and self-sustained models</p>
      <!-- <a href="#contact" class="btn animate-in">Get in Touch</a>er -->
    </div>
    <!-- <div class="hero-image animate-in"> -->
      <!-- Image or animation here -->
    <!-- </div> -->
  </div>
</section>