<div class="banners container">
  <div class="banner praise-allah">
    <div class="ticker">
      <span class="banner-icon">🕌</span>
      <span>In the name of Allah, </span>
      <span> the most beneficent the most merciful. </span>
      <span> All praise belongs to Allah!</span>
    </div>
  </div>
  <div class="banner solidarity-palestine">
    <div class="ticker">
      <span class="banner-icon">🇵🇸 </span>
      <span> We stand in solidarity with the people of Palestine, </span>
      <span> and strongly condemn the actions of Israel. </span>
      <span class="banner-icon"> 🤲 </span>
      <span> O Allah - The One Who is completely free of any needs! grant us forgiveness, </span>
      <span> have mercy on us, ease our sufferings, guide us towards the righteous path, and protect us. Ameen!</span>
    </div>
  </div>
</div>