<div class="banners">
  <div class="banner praise-allah">
    <span class="banner-icon">🕌</span>
    <span>In the name of Allah, the most beneficent the most merciful. All praise belongs to Allah</span>
  </div>
  <div class="banner solidarity-palestine">
    <span class="banner-icon">🇵🇸</span>
    <span>We stand in solidarity with the people of Palestine, and strongly condemn the actions of Israel.</span>
  </div>
  <div class="banner pray-allah">
    <span class="banner-icon">🤲</span>
    <span>O Allah! The One Who is completely free of any need, grant us forgiveness, have mercy on us, ease our sufferings, guide us towards our duties, and protect us. Ameen</span>
  </div>
</div>