<section id="vision" class="vision-section" data-scroll-section>
  <div class="container">
    <h2 class="section-title" data-scroll data-scroll-speed="1">Our Values</h2>
    <div class="section-description">
      Inspired by the concept of 5-Pillars of Islam, we have defined following 5 values centered around practical and measureable approach of Islamic 5-Pillars. If Allah wills, 5-Pillars of Islam and these 5 values will help us stay true to our mission in the name of Allah.
    </div>
    <div class="vision-cards">
      <div class="vision-card" data-scroll data-scroll-speed="0.1">
        <div class="card-front">
          <h4>Faith Based:</h4>
          <h3>Submit to the will of Allah</h3>
          <p>Seeking new knowledge is a very challenging and slow process. It takes years and even generations to produce real outcomes. Hence, it would be very important to accept the success and failures as a blessing from Allah. We need to keep praying, keep learning, keep trying and keey asking for forgiveness. It's only Allah's mercy that can keep us on the right path. </p>
          <!-- <button class="card-toggle">Read More</button> -->
        </div>
        <!-- <div class="card-back">
          <h3>Vision Point 1</h3>
          <p>Detailed information about this vision point. Include more context, examples, and how this contributes to your overall mission.</p>
          <button class="card-toggle">Close</button>
        </div> -->
      </div>

      <div class="vision-card" data-scroll data-scroll-speed="0.3">
        <div class="card-front">
          <h4>Daily Act of Seeking Guidance:</h4>
          <h3>Daily Quran Recitation with Understanding and Analysis</h3>
          <p>As we want to accumulate knowledge that can benefit our Muslim community and the Humanity, then There is no better source of knowledge other than Quran. Hence, by the help of Allah, we will be pursing the habbit of daily quran recitation with proper understanding and critical reflection</p>
          <!-- <button class="card-toggle">Read More</button> -->
        </div>
        <!-- <div class="card-back">
          <h3>Vision Point 2</h3>
          <p>Detailed information about this vision point. Include more context, examples, and how this contributes to your overall mission.</p>
          <button class="card-toggle">Close</button>
        </div> -->
      </div>

      <div class="vision-card" data-scroll data-scroll-speed="0.5">
        <div class="card-front">
          <h4>Monthly act of minialisum and realignment:</h4>
          <h3>A month of minimal usage of technology</h3>
          <p>While we are dependent on a technology or building a new technology, it is really difficult to fully understand a life without that technology. Hence, to fully understand what we really need and what we don't we will have to practically challenge ourselves by potentially reducing the usage of technology</p>
          <!-- <button class="card-toggle">Read More</button> -->
        </div>
        <!-- <div class="card-back">
          <h3>Vision Point 3</h3>
          <p>Detailed information about this vision point. Include more context, examples, and how this contributes to your overall mission.</p>
          <button class="card-toggle">Close</button>
        </div> -->
      </div>

      <div class="vision-card" data-scroll data-scroll-speed="0.7">
        <div class="card-front">
          <h4>Act of sharing with the needy:</h4>
          <h3>A proportional </h3>
          <p>While we are dependent on a technology or building a new technology, it is really difficult to fully understand a life without that technology. Hence, to fully understand what we really need and what we don't we will have to practically challenge ourselves by potentially reducing the usage of technology</p>
          <!-- <button class="card-toggle">Read More</button> -->
        </div>
        <!-- <div class="card-back">
          <h3>Vision Point 3</h3>
          <p>Detailed information about this vision point. Include more context, examples, and how this contributes to your overall mission.</p>
          <button class="card-toggle">Close</button>
        </div> -->
      </div>
    </div>
  </div>
</section>