<!-- Hero Section -->
<section id="hero" class="hero-section" data-scroll-section>
  <div class="container flex">
    <div class="hero-content">
      <p class="animate-in">With Allah's help, Let's build a community of</p>
      <h1 class="animate-in"><span>Innovators with Purpose</span></h1>
      <p class="animate-in">A community that champions purposeful learning, open-source development and sustainable tech adoption in line with Islamic values.</p>
      <!-- <a href="#contact" class="btn animate-in">Get in Touch</a>er -->
    </div>
    <div class="hero-image">
      <figure class="animate-in">
        {{ readFile "static/images/hero_image.svg" | safeHTML }}
      </figure>
    </div>
  </div>
</section>